body{
    background-image: url("../images/trainBg.jpg");
  }
  .title {
    /* display: inline; */
    text-align: center;
    color: white;
  }

  .jumbotron {
    background-color: rgba(77, 75, 70, 0.925);
    color:whitesmoke;
  }
 h2 {
    
    color: white;
    font-size: 20px;

  }

  .card {
    border: 2px solid rgb(100, 98, 98);
    margin-bottom: 20px;
    background-color: rgba(235, 198, 168, 0.822);
  }

  .card-header {
    background-color: black;
    padding: 10px;
    margin-bottom: 10px;
    color: white;
  }
 
  form {
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
  }

  .form-group{
display: inline-block;
  }

  .buttons {
    background-color: grey;
    color: white;
  }

  
  