body{
    overflow: auto;
    box-sizing: border-box;   
    background-image: url("../images/background.png");
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;   
}

h1{
    font-size: 48px;
    font-style: 
}

h2{
    font-size: 24px;
}

h3{
    font-size: 18px;
}
.col-sm-12{
    margin: 0 auto;
    
}
#splash{   
    margin: 5% auto;
    max-width:75%;
    max-height: 85%;
    padding:5%;
    border:solid 5px white;
    text-align: center;
    color: rgba(255, 255, 255, 0.993);
    background-image: url("../images/blue_squares.jpg");
    
}


#questions{
    margin: 5% auto;
    max-width:75%;
    max-height: 85%;
    padding:5%;
    border:solid 5px white;
    text-align: center;
    color: rgba(255, 255, 255, 0.993);
    background-image: url("../images/black.jpg");
}

#actualQuestion{
    font-size: 24px;
}

li{
    text-align: left;
    margin-left: 30%;
}
#answer{
    font-size: 18px;
}

.answer:hover{
   color: #e6f512;
}


#transition{
    margin: 5% auto;
    max-width:60%;
    max-height: auto;
    padding:5%;
    border:solid 5px  rgba(47, 48, 45, 0.993);
    text-align: center;
    color: rgba(142, 228, 4, 0.993);
    background-image: url("../images/rgb.jpg");
}

#transitionImg{

   width: 200px;
   height: auto;
   
   
}

#resultHeader{
    text-decoration: underline;
}
#finalResult{
    margin: 5% auto;
    max-width:75%;
    max-height: 85%;
    padding:5%;
    border:solid 5px white;
    text-align: center;
    color: rgba(255, 255, 255, 0.993);
    background-color: black;
}
                